.containerLogin {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #0e507c;
  }

  .loginCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 1em;
    width: 50%;
    border-radius: 5rem;
    background-color: #ffffff;
  }

  .formLogin {
      display: flex;
      flex-direction: column;
  }

  .username-input {
      width: 30vw;
      height: 4vh;
      margin-bottom: 2vh;
  }

  .password-input {
      width: 30vw;
      height: 4vh;
      margin-bottom: 2vh;
  }

  .login-button {
      width: 10vw;
      height: 2vh;
  }

  .containerLogin p {
      font-size: 1em;
  }

  .loginText {
    font-size: 2rem !important;
  }

  .loginRedirect {
      margin-top: 2rem;
  }

  .redirectToSignup {
      color: #1d4a9e;
  }
