.containerSignup {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    justify-content: flex-start;
    align-items: center;
    color: #000000;

    padding-left: 3rem;
    padding-right: 3rem;
    
  }


  .formSignup {
      display: flex;
      flex-direction: column;
  }

  .signupText {
      font-size: 1rem;
  }

  .username-input {
      width: 30vw;
      height: 4vh;
      margin-bottom: 2vh;
  }

  .password-input {
      width: 30vw;
      height: 4vh;
      margin-bottom: 2vh;
  }

  .signup-button {
      width: 10vw;
      height: 2vh;
  }

.containerSignup p {
    font-size: 1rem;
}

.signupRedirect {
    margin-top: 2rem;
}

.redirectToLogin {
    color: #1d4a9e;
}

