.containerSignup {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    justify-content: flex-start;
    align-items: center;
    color: #000000;

    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #0e507c;

  }

  .signupCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 1em;
    width: 50%;
    border-radius: 5rem;
    background-color: #ffffff;
  }

  .formSignup {
      display: flex;
      flex-direction: column;
      width: 90%
  }

  .signupText {
    font-size: 2rem !important;
  }

  .username-input {
      width: 30vw;
      height: 4vh;
      margin-bottom: 2vh;
  }

  .password-input {
      width: 30vw;
      height: 4vh;
      margin-bottom: 2vh;
  }

  .signup-button {
      width: 10vw;
      height: 2vh;
  }

.containerSignup p {
    font-size: 1rem;
}

.signupRedirect {
    margin-top: 2rem;
}

.redirectToLogin {
    color: #1d4a9e;
}

