.postedCommentPhoto {
    width: 4rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
  }

  .postedCommentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  .postedCommentInput {
    width: 100%;
    height: 4rem;
    background-color: #f8f8f8;
    font-size: 2rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .postedCommentName {
    font-weight: 700;
    color: #1833c7;
  }