.postedCommentPhoto {
    width: 300px;
    border-radius: 150px;
    margin-right: 0.5em;
  }

  .postedCommentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2em;
  }

  .postedCommentInput {
    width: 100%;
    height: 2em;
    background-color: #f8f8f8;
    font-size: 2em;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .postedCommentName {
    font-weight: 700;
    color: #1833c7;
  }