.containerProfile {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000000;

    padding-left: 3rem;
    padding-right: 3rem;
      
  }

  .profilePageText {
    font-size: 2rem;
    padding: 0rem;
  }

  .profileDivide {
    width: 90vw;
    border: 1;
    border-top: 2px solid #ccc;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    margin: 1em 0;
    padding: 0;
  }

  .profileGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 1vw;
  }

  .profileWrapper {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hover:hover {
      background-color: antiquewhite;
  }

  .selectedNewProfile {
    background-color: antiquewhite;
  }

  .buttonBoxProfile {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }