.container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 5em;

  padding-left: 3em;
  padding-right: 3em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  padding: 1em;

}

.postContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}

.profilePost {
  width: 300px;
  border-radius: 150px;
}

.postInput {
  width: 100%;
  height: 2em;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 2em;
  margin-left: 0.5em;
}

.postButton {
  font-size: 1em;
  background-color: #f8f8f8;
  color: #000;
  padding: 0.5em;
  margin-top: 0.5em;
}

.postButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

