.containerPost {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000000;

  padding-left: 3rem;
  padding-right: 3rem;

  margin-top: 2rem;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  padding: 1em;

}

.appCreatePost {
  font-size: 1.5rem;
}

.postContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}

.profilePostApp {
  width: 8rem;
  border-radius: 4rem;
}

.postInput {
  width: 100%;
  height: 10rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 2em;
  margin-left: 0.5em;
}

.postButton {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.postButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

